services:
  app:
    # JDK 21 기반의 표준 이미지를 사용합니다.
    image: eclipse-temurin:21-jre
    container_name: devcommunity-app

    depends_on:
      - db

    ports:
      - "8080:8080"
    # .env 파일에서 환경 변수들을 가져옵니다.
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}

      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_CLIENT_SECRET: ${KAKAO_CLIENT_SECRET}

    # 호스트의 ./build/libs 폴더를 컨테이너의 /app에 연결합니다.
    volumes:
      - ./build/libs:/app
    working_dir: /app
    # 컨테이너 시작 시 JAR 파일을 실행합니다.
    command: [ "java", "-jar", "devCommunity-0.0.1-SNAPSHOT.jar" ]

  db:
    image: mysql:8.0
    container_name: dev-mysql
    # DB 접속 정보 환경 변수를 .env 파일에서 가져옵니다.
    environment:
      MYSQL_ROOT_PASSWORD: ${DOCKER_MYSQL_PASSWORD}
      MYSQL_DATABASE: devCommunity
      MYSQL_USER: ${DOCKER_MYSQL_USER}
      MYSQL_PASSWORD: ${DOCKER_MYSQL_PASSWORD}
    # 호스트 3309 포트와 컨테이너 3306 포트를 연결합니다.
    ports:
      - "3309:3306"
    # 데이터 영속성을 위한 볼륨 설정입니다.
    volumes:
      - devcommunity_mysql_data:/var/lib/mysql
  # 1. Prometheus: 데이터 저장소
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    command:
      # 중요: k6가 데이터를 밀어넣을 수 있도록(remote-write-receiver) 기능 활성화
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.enable-remote-write-receiver
      - --storage.tsdb.retention.time=1h # 데이터 보존 기간 (테스트용이라 짧게 설정)
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - k6-net
  # 2. Grafana: 데이터 시각화
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - k6-net
  # 3. k6: 부하 테스트 실행기
  k6:
    image: grafana/k6:latest
    container_name: k6
    networks:
      - k6-net
    ports:
      - "6565:6565"
    environment:
      # k6가 Prometheus로 데이터를 보낼 주소 설정
      - K6_PROMETHEUS_RW_SERVER_URL=http://prometheus:9090/api/v1/write
      - K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM=true
    volumes:
      - ./k6:/scripts
    # 컨테이너가 실행될 때 수행할 명령어 (여기서는 script.js 실행)
    # -o experimental-prometheus-rw 옵션이 핵심입니다.
    command: run -o experimental-prometheus-rw /scripts/script.js
networks:
  k6-net:

volumes:
  # MySQL 데이터 영속성을 위한 볼륨 정의입니다. (쉼표 제거됨)
  devcommunity_mysql_data:
  grafana-storage:
