services:
  app:
    image: eclipse-temurin:21-jre
    container_name: devcommunity-app
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: load
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}

      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_CLIENT_SECRET: ${KAKAO_CLIENT_SECRET}

    volumes:
      - ./build/libs:/app
    working_dir: /app
    command: ["java", "-jar", "devCommunity-0.0.1-SNAPSHOT.jar"]

  db:
    image: mysql:8.0
    container_name: dev-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DOCKER_MYSQL_PASSWORD}
      MYSQL_DATABASE: devCommunity
      MYSQL_USER: ${DOCKER_MYSQL_USER}
      MYSQL_PASSWORD: ${DOCKER_MYSQL_PASSWORD}
    ports:
      - "3309:3306"
    volumes:
      - devcommunity_mysql_data:/var/lib/mysql

  k6:
    image: grafana/k6:latest
    container_name: k6
    volumes:
      - ./k6:/scripts

volumes:
  devcommunity_mysql_data:
